<div class="flex items-center justify-between mb-8 custom-flex-col">
    <!-- Left: Title and Breadcrumbs -->
    <div class="flex flex-col gap-2 w-1/2 first">
        <h1 class="text-xl md:text-2xl font-extrabold text-surface-900 dark:text-surface-0 m-0 tracking-tight">{{ title }}</h1>
        <p class="text-sm font-medium text-surface-900 dark:text-surface-400 m-0">{{ subtitle }}</p>
        <div class="flex items-center gap-2 text-sm font-semibold text-surface-500 dark:text-surface-400">
            <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
                <a *ngIf="crumb.routerLink" [routerLink]="crumb.routerLink" class="hover:text-primary-500 transition-colors cursor-pointer">
                    {{ crumb.label }}
                </a>
                <span *ngIf="!crumb.routerLink">
                    {{ crumb.label }}
                </span>
                <i *ngIf="!last" class="pi pi-angle-right text-[10px] opacity-70"></i>
            </ng-container>
        </div>
    </div>

    <!-- Right: Action Button -->
        <!-- Right: Action Button -->
    <div *ngIf="buttonText" class="custom-mt second">

        <!-- 1. Si on demande la licence (withLicence = true) -->
        <ng-container *ngIf="withLicence">
            <p-button *ngIf="buttonLink" siLicenceOuverte [icon]="buttonIcon" [label]="buttonText" [routerLink]="buttonLink" severity="info" />
            <p-button *ngIf="!buttonLink" siLicenceOuverte [icon]="buttonIcon" [label]="buttonText" severity="info" (click)="onActionButtonClick()" />
        </ng-container>

        <!-- 2. Si on ne demande pas la licence (withLicence = false) -->
        <ng-container *ngIf="!withLicence">
            <p-button *ngIf="buttonLink" [icon]="buttonIcon" [label]="buttonText" [routerLink]="buttonLink" severity="info" />
            <p-button *ngIf="!buttonLink" [icon]="buttonIcon" [label]="buttonText" severity="info" (click)="onActionButtonClick()" />
        </ng-container>

    </div>

</div>
