<ng-container *ngIf="col.visible" [formGroup]="form">
    <div class="field-container animate-slide-in">

        <!-- 1. Label Supérieur (Optionnel) -->
        <label *ngIf="col.topLabel" [for]="col.field" class="block text-base font-bold text-gray-900 mb-2">
            {{ col.topLabel }}
        </label>

        <!-- 2. Zone Input avec FloatLabel (Obligatoire) -->
        
        <!-- Type Section (Titre de groupe) -->
        <ng-container *ngIf="col.type === 'section'">
            <div class="mt-1 w-full">
                <h6 class="text-lg font-semibold mb-1 text-surface-900 dark:text-surface-0 border-b border-surface-200 pb-2">{{ col.header }}</h6>
                <p *ngIf="col.helpText" class="text-sm text-surface-500 mt-1">{{ col.helpText }}</p>
            </div>
        </ng-container>

        <!-- Type String -->
        <ng-container *ngIf="col.type === 'string'">
            <div class="flex flex-col gap-2 font-normal mb-1">
                <label [for]="col.field" class="font-semibold" [ngClass]="{'text-red-500': form.get(col.field!)?.invalid && form.get(col.field!)?.touched}">
                    {{ col.header }} <span *ngIf="col.required" class="text-red-500 ml-1">*</span>
                </label>
                <input 
                    pInputText [id]="col.field"
                    [formControlName]="col.field"
                    [placeholder]="col.placeholder || ''"
                    autocomplete="off"
                />
            </div>
        </ng-container>

        <!-- Type Editeur (Garde son style propre) -->
        <ng-container *ngIf="col.type === 'text'">
            <div class="flex flex-col gap-2 font-normal mb-1">
                <label [for]="col.field" class="font-semibold"  [ngClass]="{'text-red-500': form.get(col.field!)?.invalid && form.get(col.field!)?.touched}">
                    {{ col.header }} <span *ngIf="col.required" class="text-red-500 ml-1">*</span>
                </label>
                <textarea 
                    pTextarea 
                    [formControlName]="col.field"
                    [placeholder]="col.placeholder || ''"
                    autocomplete="off"
                    rows="3">
                </textarea>
            </div>
        </ng-container>

        <!-- Type Number -->
        <ng-container *ngIf="col.type === 'number' || col.type === 'float'">
            <div class="mt-2">
                <p-floatlabel variant="on" class="w-full">
                    <p-inputNumber
                        [showButtons]="true"
                        [readonly]="col.readonly"
                        [placeholder]="col.placeholder || ''"
                        [min]="0"
                        mode="decimal"
                        class="w-full"
                        styleClass="w-full"
                        [formControlName]="col.field"
                        [id]="col.field"
                        [name]="col.field">
                    </p-inputNumber>
                    <label [for]="col.field" class="font-semibold" >
                        {{ col.header }}
                        <span *ngIf="col.required" class="text-red-500 ml-1">*</span>
                    </label>
                </p-floatlabel>
            </div>
        </ng-container>

        <!-- Type Dropdown -->
        <ng-container *ngIf="col.type === 'dropdown'">
            <div class="flex flex-col gap-2 font-normal mb-1">
                    <label [for]="col.field" class="font-semibold"  [ngClass]="{'text-red-500': form.get(col.field!)?.invalid && form.get(col.field!)?.touched}">
                        {{ col.header }} <span *ngIf="col.required" class="text-red-500 ml-1">*</span>
                    </label>
                    <p-select
                        [options]="dropDownObject[col.field]"
                        [filter]="true"
                        appendTo="body"
                        [optionLabel]="col.optionLabel || 'label'"
                        [optionValue]="col.optionValue || 'value'"
                        [showClear]="true"
                        [formControlName]="col.field"
                        class="w-full"
                        styleClass="w-full"
                        [id]="col.field"
                        [name]="col.field"
                        [placeholder]="col.placeholder || ''">
                    </p-select>
            </div>
        </ng-container>
        <!-- Type Checkbox (Toggle Switch) -->
        <ng-container *ngIf="col.type === 'boolean'">
            <div class="flex items-center gap-3 font-normal mb-1" style="min-height: 44px;">
                <p-toggleswitch [formControlName]="col.field!" [id]="col.field!"></p-toggleswitch>
                <label [for]="col.field" class="text-surface-900 font-semibold cursor-pointer">
                    {{ col.header }}
                    <span *ngIf="col.required" class="text-red-500 ml-1">*</span>
                </label>
            </div>
        </ng-container>

        <!-- Type MultiSelect -->
        <ng-container *ngIf="col.type === 'multiselect'">
            <div class="flex flex-col gap-2 font-normal mb-1">
                <label [for]="col.field" class="font-semibold"  [ngClass]="{'text-red-500': form.get(col.field!)?.invalid && form.get(col.field!)?.touched}">
                    {{ col.header }} <span *ngIf="col.required" class="text-red-500 ml-1">*</span>
                </label>
                <p-multiSelect
                        [options]="multiSelectObject[col.field]"
                        [filter]="true"
                        appendTo="body"
                        [optionLabel]="col.optionLabel || 'label'"
                        [optionValue]="col.optionValue || 'value'"
                        [showClear]="true"
                        [formControlName]="col.field"
                        class="w-full"
                        styleClass="w-full"
                        [id]="col.field"
                        [name]="col.field"
                        display="chip"
                        [placeholder]="col.placeholder || ''">
                    </p-multiSelect>
            </div>
        </ng-container>

        <!-- Type ColorPicker -->
        <ng-container *ngIf="col.type === 'color'">
            <div class="bg-colorcheck">
                <div class="flex flex-col gap-2 font-normal mb-1">
                    <label [for]="col.field" class="font-semibold"  [ngClass]="{'text-red-500': form.get(col.field!)?.invalid && form.get(col.field!)?.touched}">
                        {{ col.header }} <span *ngIf="col.required" class="text-red-500 ml-1">*</span>
                    </label>
                    <div class="flex items-center gap-3">
                        <p-colorpicker appendTo="body" [formControlName]="col.field" [id]="col.field" inputId="cp-hex"></p-colorpicker>
                        <span class="text-surface-600 font-medium font-mono border-1 border-surface-200 border-round px-2 py-1 bg-surface-50 uppercase">{{ form.get(col.field!)?.value || '#ff0000' }}</span>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- Type Knob -->
        <ng-container *ngIf="col.type === 'knob'">
            <div class="flex flex-col gap-2 font-normal mb-1">
                <label [for]="col.field" class="font-semibold"  [ngClass]="{'text-red-500': form.get(col.field!)?.invalid && form.get(col.field!)?.touched}">
                    {{ col.header }} <span *ngIf="col.required" class="text-red-500 ml-1">*</span>
                </label>
                <div class="flex flex-col gap-3">
                    <p-inputNumber 
                        [formControlName]="col.field" 
                        [showButtons]="true" 
                        buttonLayout="horizontal" 
                        spinnerMode="horizontal" 
                        [id]="col.field" 
                        [min]="col.min ?? 0" 
                        [max]="col.max ?? 10" 
                        [step]="col.step ?? 1"
                        [inputStyle]="{ width: '4rem', 'text-align': 'center' }">
                        <ng-template #incrementbuttonicon>
                            <span class="pi pi-plus"></span>
                        </ng-template>
                        <ng-template #decrementbuttonicon>
                            <span class="pi pi-minus"></span>
                        </ng-template>
                    </p-inputNumber>
                </div>
            </div>
        </ng-container>


        <!-- 3. Texte d'aide Inférieur (Optionnel) -->
        <small *ngIf="col.helpText" [id]="col.field + '-help'" class="block mt-1 text-muted-color block-helper-text break-words whitespace-normal leading-tight">
            {{ col.helpText }}
        </small>

    </div>
</ng-container>
