<div class="block">
    <app-header-page 
        [title]="'Utilisateurs'" 
        [subtitle]="'Gérer les accès et rôles des utilisateurs de la plateforme.'"
        [breadcrumbs]="breadcrumbs"
        [buttonText]="'Nouvel Utilisateur'" 
        buttonIcon="pi pi-plus"
        (actionClick)="onAjoutDemande()"
    />
    
    <div class="page-layout mt-4">
        <div class="row p-2">
            <div class="col-sm-12">
                <app-crud-generic
                    [pageLabel]="pageLabel"
                    [formCols]="formCols"
                    [tableCols]="tableCols"
                    [listeObject]="dataList"
                    [consultation]="false"
                    [ajoutExterne]="true"
                    [notDelete]="true"
                    (ajoutDemande)="onAjoutDemande()"
                    (editDemande)="onEditDemande($event)"
                    [formGroup]="formGroup"
                    [dropDownObject]="strcutureDropdown"
                    [multiselectObject]="rolesDropdown"
                    [customButtons]="customButtons"
                    (customActionEvent)="handleCustomAction($event)"
                    [isPagination]="true"
                    [totalElements]="totalElements"
                    [pageSize]="pageSize"
                    [currentPage]="currentPage"
                    (pageChangeEvent)="onPageChange($event)"
                    (addClick)="onAjoutDemande()"
                    [formLongDescription]="formHeader"
                    [loading]="loading">
                </app-crud-generic>
            </div>
        </div>
    </div>
</div>