<div class="card-first overflow-hidden border-none premium-hub transition-colors duration-300">
    <app-header-page 
        title="Gestion des non-conformités" 
        subtitle="Déclaration, analyse, traitement et suivi des écarts qualité"
        [breadcrumbs]="breadcrumbs"
        [buttonText]="'Soumettre une NC'" 
        buttonIcon="pi pi-plus" 
        buttonLink="/non-conformite/create" 
    />
    <!-- Navigation Hub (Tabs) -->
    <div class="bg-surface-0 dark:bg-surface-900 ">
        <p-tabs [value]="activeTab" [scrollable]="true" (valueChange)="onTabChange($event)">
            <p-tablist>
                <p-tab *ngFor="let tab of items; trackBy: trackByRouterLink" [value]="tab.routerLink">
                    <div class="flex items-center gap-2 text-inherit no-underline outline-none px-2 py-1 select-none">
                        <i [class]="tab.icon"></i>
                        <span class="whitespace-nowrap">{{ tab.label }}</span>
                        <p-badge *ngIf="tab.badge" [value]="tab.badge" severity="danger"></p-badge>
                    </div>
                </p-tab>
            </p-tablist>
        </p-tabs>
    </div>

    <!-- Zone de Contenu Dynamique -->
    <div class="bg-surface-50/50 dark:bg-surface-950/40 min-h-[500px]">
        <div class="bg-surface-0 dark:bg-surface-900 rounded-xl !overflow-visible">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
