<div class="block">
    <div class="col-12 p-0">
        <div class="row p-2">
            <ng-container *ngIf="addFilter">
                <div class="col-sm-3 mb-2" *ngFor="let r of searchField">
                    <div class="field">
                        <label class="fw-bold">{{ r['label'] }}</label>
                        <p-select [options]="r['list']" [style]="{'width': '100%'}"
                                    [autoDisplayFirst]="false" appendTo="body"
                                    [placeholder]="r['placeHolder']"
                                    [filter]="true" [showClear]="true"
                                    [(ngModel)]="value"
                                    (ngModelChange)="onFilterChange(r['field'])">
                        </p-select>
                    </div>
                </div>
            </ng-container>

            <div class="col-sm-12">
                <app-tableau-affichage
                    [tableCols]="tableCols"
                    [listeObject]="listeObject"
                    [loading]="loading"
                    [consultation]="consultation"
                    [showSearch]="true"
                    [showAddButton]="canShowAddButton"
                    [addButtonLabel]="addButtonLabel || 'Ajouter'"
                    [isPagination]="isPagination"
                    [totalElements]="totalElements"
                    [pageSize]="pageSize"
                    [currentPage]="currentPage"
                    [loadingRows]="pageSize"
                    [minWidth]="minWidth"
                    [filterFields]="filterFiels"
                    [actionMenuItems]="actionMenuItems"
                    (addClick)="openNew()"
                    (pageChangeEvent)="onPageChange($event)"
                    (actionClick)="setActionMenu($event.event, $event.menu, $event.rowData)">
                </app-tableau-affichage>
            </div>
        </div>
    </div>
</div>
<app-form-modal 
    [(visible)]="display" 
    [title]="rowData?.libelle ? (pageLabel + ' : ' + rowData.libelle) : (rowData ? ('Modification ' + pageLabel) : ('Nouvel élément ' + pageLabel))"
    [description]="rowData ? 'Mise à jour de l’élément existant' : 'Ajout d’un nouvel élément'"
    [longDescription]="formLongDescription"
    [icon]="rowData ? 'pi pi-pencil' : 'pi pi-plus-circle'"
    [iconBgClass]="rowData ? 'bg-orange-50 dark:bg-orange-900/30' : 'bg-blue-50 dark:bg-[#39bdf82e]'"
    [iconColorClass]="rowData ? 'text-orange-500' : 'text-blue-500'"
    [submitLabel]="rowData ? 'Enregistrer' : 'Enregistrer'"
    [width]="dialogWidth || '40rem'"
    (onCancel)="hidDialog()"
    (onSubmit)="save()">
    
    <div class="px-2 grid grid-cols-1 md:grid-cols-2 gap-2">
        <ng-container *ngFor="let col of formCols">
            <div [ngClass]="(col.class && col.class.includes('md:col-6')) ? 'col-span-1' : 'col-span-1 md:col-span-2'">
                <app-form-input-template
                    [col]="col"
                    [form]="formGroup"
                    [dropDownObject]="dropDownObject"
                    [multiSelectObject]="multiselectObject"
                ></app-form-input-template>
            </div>
        </ng-container>
    </div>
</app-form-modal>

<app-detail-modal
    [(visible)]="displayDetails"
    [title]="pageLabel"
    [subtitle]="rowData ? (rowData.libelle || '') + ' ' + (rowData.libelleLong || '') : ''"
    [longDescription]="detailLongDescription"
    [itemDescription]="showItemDescriptionOnTop ? rowData?.description : null"
    [imagePath]="detailImagePath"
    [width]="'40rem'">
    
    <ng-container *ngIf="customDetailTemplate; else defaultDetail">
        <ng-container *ngTemplateOutlet="customDetailTemplate; context: { $implicit: rowData, data: rowData }"></ng-container>
    </ng-container>

    <ng-template #defaultDetail>
        <detail-template-component *ngIf="rowData" [cols]="detailCols || formCols || tableCols" [rowData]="rowData" [title]="detailTitle"></detail-template-component>
        <div *ngIf="!rowData">
            <span class="text-red-500 mt-4 flex justify-content-center opacity-35">Aucune données trouvées</span>
        </div>
    </ng-template>
</app-detail-modal>

<app-request-password 
    [(visible)]="displayPasswordDialog"
    [expectedValue]="deleteExpectedValue"
    [targetLabel]="deleteTargetLabel"
    [loading]="passwordLoading"
    (confirm)="onConfirmDeleteWithPassword()"
/>


<p-confirmPopup key="crudPopup" />
